{% extends 'front/base.html.twig' %}

{% block title %}{{ 'project' | trans }}: {{ 'user.list' | trans }}{% endblock %}
{% block content %}
    <h1>
        <a title="{{ 'user.create' | trans }}" href="{{ path('front_create',{'entity':entity}) }}" class="btn btn-info">
            <i class="far fa-plus-square"></i>
        </a>
        {{ 'user.list' | trans }}
    </h1>
    <table class="table" data-total="{{ pagination.getTotalItemCount }}">
        <thead>
        <tr>
            <th{% if pagination.isSorted('a.name') %} class="sorted"{% endif %}>
                {{ knp_pagination_sortable(pagination, 'user.name' | trans, 'name') }}
            </th>
            {% if is_granted('ROLE_GOD')  %}
                <th{% if pagination.isSorted('a.company') %} class="sorted"{% endif %}>
                    {{ knp_pagination_sortable(pagination, 'companyTh' | trans, 'companyTh') }}
                </th>
            {% endif %}
            <th{% if pagination.isSorted('a.email') %} class="sorted"{% endif %}>
                {{ knp_pagination_sortable(pagination, 'user.email' | trans, 'email') }}
            </th>
            <th scope="col" colspan="2"></th>
        </tr>
        </thead>
        <tbody>
        {% for element in pagination %}
        <tr class="{{ entity }}-tr">
            {% set delete =  path('front_delete',{'entity': entity, 'id': element.id}) %}
            <td>{{ element.name }}</td>
            {% if is_granted('ROLE_GOD')  %}
            <td>{{ element.company }}</td>
            {% endif %}
            <td>{{ element.email }}</td>
            <td>
                <a
                    title="{{ 'edit' | trans }} {{ element.name }}"
                    href="{{ path('front_edit',{'entity': entity, 'id': element.id}) }}"
                    class="btn btn-primary">
                    <i class="fas fa-edit edit"></i>
                </a>
            </td>
            <td>
                <a
                href="#"
                title="{{ 'delete' | trans }} {{ element.name }}"
                data-href="{{ delete }}"
                onclick="myFunction('{{ delete }}')"
                class="btn btn-danger delete">
                    <i class="fas fa-trash edit"></i>
                </a>
            </td>
        </tr>
        {% endfor %}
        <tr>
            <td colspan="5">
                {{ knp_pagination_render(pagination) }}
            </td>
        </tr>
        </tbody>
    </table>
{% endblock %}