{% extends 'front/base.html.twig' %}

{% block title %}{{ 'project' | trans }}: {{ 'catalog.list' | trans }}{% endblock %}
{% block content %}
    <h1>
        <a title="{{ 'product.create' | trans }}" href="{{ path('front_create',{'entity':entity,'company':companyId}) }}" class="btn btn-info">
            <i class="far fa-plus-square"></i>
        </a>
        {{ 'catalog.list' | trans }}
    </h1>
    <div class="row">
        {% for element in pagination %}
            <div class="col-md-3">
                <div class="card" style="width: 18rem;margin-bottom: 20px">
                    <div class="product-price">{{ element.price }}€</div>
                    {% if element.image %}
                        <img src="{{ vich_uploader_asset(element.image, 'file') }}" class="card-img-top" alt="{{ element.slug }}" height="286px" width="100%"/>
                    {% else %}
                        <img src="https://via.placeholder.com/150" class="card-img-top" alt="{{ element.slug }}">
                    {% endif %}
                    <div class="dropdown-divider"></div>
                    <div class="card-body">
                        <h5 class="card-title">{{ element }}</h5>
                        <p>[<a href="{{ path('front_edit',{'entity':'category','id':element.category.id,'company':companyId}) }}" target="_blank">
                                {{ element.category }}
                                <i class="fas fa-external-link-alt"></i>
                            </a> ]</p>
                        <a href="{{ path('front_edit',{'entity':'product','id':element.id,'company':companyId}) }}" class="btn btn-primary">
                            <i class="fas fa-pen"></i>
                            {{ 'edit' | trans }}
                        </a>
                        <a href="{{ path('front_edit',{'view':'show','entity':'product','id':element.id,'company':companyId}) }}" class="btn btn-info">
                            <i class="far fa-eye"></i>
                            {{ 'view' | trans }}
                        </a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

    <div class="row">
        {{ knp_pagination_render(pagination) }}
    </div>
{% endblock %}