{% extends 'base.html.twig' %}

{% block title %}{{ 'login.welcome' | trans }}{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/css/login.css') }}">
{% endblock %}
{% block body %}
<div class="wrapper fadeInDown">
    <div id="formContent">
        <div class="fadeIn first">
            <img class="img" style="margin: 10px" src="{{ asset('assets/img/logo.jpg') }}" id="icon" alt="User Icon" />
        </div>
        <form method="post">
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            <h1 class="h3 mb-3 font-weight-normal">{{ 'login.welcome' | trans }}</h1>
            <input type="email" id="email" value="{{ last_username }}" class="fadeIn second" name="email" placeholder="{{ 'user.email' | trans }}"  required autofocus>
            <input type="password" id="password" required class="fadeIn third" name="password" placeholder="{{ 'user.password' | trans }}">

            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

            <input type="submit" class="fadeIn fourth" value="{{ 'login.access' | trans }}">
        </form>
    </div>
</div>

{% endblock %}
