{% extends 'base.html.twig' %}

{% block title %}{{ 'project' | trans }}{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/css/front.css') }}">
{% endblock %}
{% if form is defined %}
    {% form_theme form 'bootstrap_4_layout.html.twig' %}
{% endif %}
{% block body %}
    <nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
        <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="{{ path('front_dashboard') }}" title="{{ 'project'| trans}}">
            <img width="30%" src="{{ asset('assets/img/logo-alt.jpg') }}">
        </a>
        <ul class="navbar-nav px-3">
            <li class="nav-item text-nowrap">
                <a class="nav-link" href="{{ path('app_logout') }}">{{ 'login.logout' | trans }}</a>
            </li>
        </ul>
    </nav>

    <div class="container-fluid">
        <div class="row">
            <nav class="col-md-2 d-none d-md-block bg-light sidebar">
                <div class="sidebar-sticky">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link active" href="{{ path('front_dashboard') }}">
                                <span data-feather="home"></span>
                                {{ 'dashboard.nemu' | trans}}
                            </a>
                        </li>
                        {% if is_granted('ROLE_GOD') %}
                        <li class="nav-item">
                            <a class="nav-link active" href="{{ path('front_list',{'entity':'company'}) }}">
                                <span data-feather="home"></span>
                                {{ 'dashboard.companies' | trans}}
                            </a>
                        </li>
                        {% endif %}
                        {% if is_granted('ROLE_ADMIN') %}
                            <li class="nav-item">
                                <a class="nav-link active" href="{{ path('front_edit',{'entity':'company','id':app.user.company.id}) }}">
                                    <span data-feather="home"></span>
                                    {{ app.user.company.name}}
                                </a>
                            </li>
                        {% endif %}
                        {% if is_granted('ROLE_GOD') or is_granted('ROLE_ADMIN') or is_granted('ROLE_READ_USER')  %}
                        <li class="nav-item">
                            <a class="nav-link active" href="{{ path('front_list',{'entity':'user'}) }}">
                                <span data-feather="home"></span>
                                {{ 'user.menu' | trans}}
                            </a>
                        </li>
                        {% endif %}
                        {% if is_granted('ROLE_GOD') or is_granted('ROLE_ADMIN') or is_granted('ROLE_READ_PROVIDER')  %}
                        <li class="nav-item">
                            <a class="nav-link active" href="{{ path('front_list',{'entity':'provider'}) }}">
                                <span data-feather="home"></span>
                                {{ 'provider.menu' | trans}}
                            </a>
                        </li>
                        {% endif %}
                        {% if is_granted('ROLE_GOD') or is_granted('ROLE_ADMIN') or is_granted('ROLE_READ_CLIENT')  %}
                        <li class="nav-item">
                            <a class="nav-link active" href="{{ path('front_list',{'entity':'client'}) }}">
                                <span data-feather="home"></span>
                                {{ 'client.menu' | trans}}
                            </a>
                        </li>
                        {% endif %}
                        {% if is_granted('ROLE_GOD') or is_granted('ROLE_ADMIN') or is_granted('ROLE_READ_CATEGORY')  %}
                        <li class="nav-item">
                            <a class="nav-link active" href="{{ path('front_list',{'entity':'category'}) }}">
                                <span data-feather="home"></span>
                                {{ 'category.menu' | trans}}
                            </a>
                        </li>
                        {% endif %}
                        {% if is_granted('ROLE_GOD') or is_granted('ROLE_ADMIN') or is_granted('ROLE_READ_PRODUCT')  %}
                        <li class="nav-item">
                            <a class="nav-link active" href="{{ path('front_list',{'entity':'product'}) }}">
                                <span data-feather="home"></span>
                                {{ 'product.menu' | trans}}
                            </a>
                        </li>
                        {% endif %}
                        {% if is_granted('ROLE_GOD') or is_granted('ROLE_ADMIN') or is_granted('ROLE_READ_PURCHASE')  %}
                        <li class="nav-item">
                            <a class="nav-link active" href="{{ path('front_list',{'entity':'purchase','sort':'reference'}) }}">
                                <span data-feather="home"></span>
                                {{ 'purchase.menu' | trans}}
                            </a>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </nav>
            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
                {% for label, messages in app.flashes(['warning', 'error','success']) %}
                {% for message in messages %}
                    <div class="alert alert-{{ label }}">
                        {{ message }}
                    </div>
                {% endfor %}
                {% endfor %}

                {% block content %}{% endblock %}

            </main>
        </div>
    </div>
{% endblock %}