{% extends 'front/base.html.twig' %}
{% set delete = path('front_delete_image',{'entity':entity,'id':element.id}) %}
{% block title %}{{ 'project' | trans }}: {{ element.name }}{% endblock %}
{% block content %}
    <h1>
        <a title="{{ 'back' | trans }}" href="{{ path('front_list',{'entity':entity}) }}" class="btn btn-info">
            <i class="fas fa-backward"></i>
        </a>
        {{ element.name }}
    </h1>

    {{ form_start(form) }}
    <div class="row">
        <div class="card-deck">
            <div class="card col-md-4">
                <div class="card-body">
                    <h5 class="card-title">{{ 'product.basic' | trans }}</h5>
                    {{ form_row(form.name) }}
                    {{ form_row(form.description) }}
                    {{ form_row(form.category) }}
                    {{ form_row(form.image) }}
                    {% if element.image is not null %}
                        <img id="principal" src="{{ vich_uploader_asset(element.image, 'file') }}" alt="{{ element }}" width="70%"/>
                        <a
                                href="#"
                                title="{{ 'delete' | trans }} {{ element.name }}"
                                data-href="{{ delete }}"
                                onclick="myFunction('{{ delete }}')"
                                class="btn btn-danger delete">
                            <i class="fas fa-trash edit"></i>
                            {{ 'removeImage' | trans }}
                        </a>
                    {% endif %}
                </div>
            </div>
            <div class="card col-md-4">
                <div class="card-body">
                    <h5 class="card-title">{{ 'product.priceData' | trans }}</h5>
                    {{ form_row(form.stockAct) }}
                    {{ form_row(form.minStock) }}
                    {{ form_row(form.maxStock) }}
                    {{ form_row(form.price) }}
                    {{ form_row(form.tax) }}
                </div>
            </div>
            <div class="card col-md-4">
                <div class="card-body">
                    <h5 class="card-title">{{ 'product.providers' | trans }}</h5>
                    {{ form_row(form.providers) }}
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>
    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-12">
            {{ form_row(form.submit) }}
        </div>
    </div>
    {{ form_end(form) }}
{% endblock %}