{% extends 'front/base.html.twig' %}

{% block title %}{{ 'project' | trans }}: {{ 'productProvider.edit' | trans }} {{ element.product }}{% endblock %}
{% block content %}
    <h1>
        <a title="{{ 'back' | trans }}" href="{{ path('front_edit',{'entity':'product','id':element.product.id,'company':companyId}) }}" class="btn btn-info">
            <i class="fas fa-backward"></i>
        </a>
        {{ 'productProvider.edit' | trans }} {{ element.product }}
    </h1>

    {{ form(form) }}
{% endblock %}