{% extends 'front/base.html.twig' %}

{% block title %}{{ 'project' | trans }}: {{ element.name }}{% endblock %}
{% block content %}
    <h1>
        <a title="{{ 'back' | trans }}" href="{{ path('front_list',{'entity':entity,'company':companyId}) }}" class="btn btn-info">
            <i class="fas fa-backward"></i>
        </a>
        {{ element.name }}
    </h1>

    <div class="row">
        <div class="col-md-10">
            {{ form(form) }}
        </div>
        {% if element.image is not null %}
            <div class="col-md-2">
                <img id="avatar" src="{{ vich_uploader_asset(element.image, 'file') }}" alt="{{ element }}" width="100%"/>
            </div>
        {% endif %}
    </div>
{% endblock %}