{% extends 'front/base.html.twig' %}

{% block title %}{{ 'project' | trans }}: {{ 'client.create' | trans }}{% endblock %}
{% block content %}
    <h1>
        <a title="{{ 'back' | trans }}" href="{{ path('front_list',{'entity':entity}) }}" class="btn btn-info">
            <i class="fas fa-backward"></i>
        </a>
        {{ 'client.create' | trans }}
    </h1>

    {{ form(form) }}
{% endblock %}