{% extends 'front/base.html.twig' %}

{% block title %}{{ 'project' | trans }}: {{ 'purchase.create' | trans }}{% endblock %}
{% block content %}
    <h1>
        <a title="{{ 'back' | trans }}" href="{{ path('front_list',{'entity':entity,'sort':'reference'}) }}" class="btn btn-info">
            <i class="fas fa-backward"></i>
        </a>
        {{ 'purchase.create' | trans }}
    </h1>

    {% if is_granted('ROLE_GOD') %}
    <div class="row">
        <div class="col-md-3">
            <label for="company">{{ 'company.label' | trans }}</label>
            <select class="form-control select" id="company">
                <option value="">{{ 'company.select' | trans }}</option>
                {% for company in twigUtils.getCompanies() %}
                    <option value="{{ path('front_create',{'entity':entity,'company':company.id}) }}">{{ company }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    {% endif %}
    {{ form(form) }}
{% endblock %}